trigger: none

pool:
  name: SelfAgent_RK

jobs:
- job: init_plan
  displayName: Terraform Init + Plan
  steps:
    - task: TerraformInstaller@1
      displayName: Install Terraform
      inputs:
        terraformVersion: 'latest'
