trigger: none

pool:
  name: SelfAgent_RK

stages:
# ----------------------
# Stage 1: Build
# ----------------------
- stage: Build
  displayName: Build Stage (Init + Plan)
#  condition: eq('${{ parameters.Build }}', true)
  jobs:
# Stage 1 Job 1
    - job: terraform_init_fmt_validate
      displayName: Terraform Init + Fmt + Validate
      steps:
        - task: TerraformInstaller@1
          displayName: Install Terraform
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/infra/dev'
            backendServiceArm: 'Dec_Pipeline_2025'
            backendAzureRmOverrideSubscriptionID: 'ff1980ab-1170-4014-971d-df65aabf1e5b'
            backendAzureRmResourceGroupName: 'DoNotDeleteRg'
            backendAzureRmStorageAccountName: 'donotdeletestorage5'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'rkstest.tfstate'
