trigger: none
  # branches:
  #   include:
  #     - feature/*
  #     - main

pool:
  name: SelfAgent_RK

parameters:
  - name: Build
    displayName: Build (Run Init,Validate,Plan) ?
    type: boolean
    default: true
    # type: string
    # values:
    #   - true
    #   - false

  - name: Validate
    displayName: Validate ?
    type: boolean
    default: true
    # type: string
    # values:
    #   - true
    #   - false

  - name: Deploy
    displayName: Deploy(Manual validation + Apply) ?
    type: boolean
    default: true
    # type: string
    # values:
    #   - true
    #   - false

variables:
  config_path: '$(System.DefaultWorkingDirectory)/infra/dev'
  OverrideSubscriptionID: 'a9076473-03ad-4c76-8993-4edd69689ba6'

stages:
# ----------------------
# Stage 1: Build
# ----------------------
- stage: Build
  displayName: Build Stage (Init + Plan)
  condition: eq('${{ parameters.Build }}', true)
  jobs:
# ----------------------
# Stage 1 Job 1
# ----------------------
    - job: terraform_init_fmt_validate
      displayName: Terraform Init + Fmt + Validate
      steps:
        - task: TerraformInstaller@1
          displayName: Install Terraform
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: Terraform Init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(config_path)'
            backendServiceArm: 'Dec_Pipeline_2025'
            backendAzureRmOverrideSubscriptionID: '$(OverrideSubscriptionID)'
            backendAzureRmResourceGroupName: 'DoNotDeleteRg'
            backendAzureRmStorageAccountName: 'donotdeletestorage555555'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'rkstest.tfstate'
        - task: TerraformTask@5
          displayName: Terraform Format
          inputs:
            provider: 'azurerm'
            command: 'custom'
            workingDirectory: '$(config_path)'
            commandOptions: 'fmt'
            outputTo: 'console'
            environmentServiceNameAzureRM: 'Dec_Pipeline_2025'
            environmentAzureRmOverrideSubscriptionID: '$(OverrideSubscriptionID)'
        - task: TerraformTask@5
          displayName: Terraform Validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(config_path)'
# ----------------------
# Stage 1 Job 2
# ----------------------
    - job: terraform_init_plan
      dependsOn: terraform_init_fmt_validate
      condition: succeeded('terraform_init_fmt_validate')
      displayName: Terraform Init + Plan
      steps:
        - task: TerraformInstaller@1
          displayName: Install Terraform
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: Terraform Init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(config_path)'
            backendServiceArm: 'Dec_Pipeline_2025'
            backendAzureRmOverrideSubscriptionID: '$(OverrideSubscriptionID)'
            backendAzureRmResourceGroupName: 'DoNotDeleteRg'
            backendAzureRmStorageAccountName: 'donotdeletestorage555555'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'rkstest.tfstate'
        - task: TerraformTask@5
          displayName: Terraform Plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(config_path)'
            environmentServiceNameAzureRM: 'Dec_Pipeline_2025'
            environmentAzureRmOverrideSubscriptionID: '$(OverrideSubscriptionID)'
# ----------------------
# Stage 2: Validate
# ----------------------
- stage: Scanning_and_Costing
  displayName: Scanning_and Costing
  dependsOn: Build
  condition: eq('${{ parameters.Validate }}', true)
  jobs:
# ----------------------
# Stage 2 Job 1
# ----------------------
    - job: infracost
      displayName: Infracost
      steps:
      - task: CmdLine@2
        displayName: Terracost
        continueOnError: true
        inputs:
          script: |
            # terraform init
            # terraform plan -out=tfplan
            # infracost breakdown --path tfplan --format=html > cost-out.html
            infracost breakdown --path . --format=html > cost-out.html
          workingDirectory: '$(config_path)'
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(config_path)/cost-out.html'
          ArtifactName: 'costing'
          publishLocation: 'Container'
# ----------------------
# Stage 2 Job 2
# ----------------------
    - job: tflint
      dependsOn: infracost
      displayName: TFLint
      steps:
      - task: CmdLine@2
        displayName: TFLint
        continueOnError: true
        inputs:
          script: 'tflint --recursive /f junit > tflint-report.xml'
          workingDirectory: '$(System.DefaultWorkingDirectory)'
      - task: PublishTestResults@2
        displayName: TFLint_Report_Publish
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: 'tflint-report.xml'
          testRunTitle: 'TFLint-scan'
# ----------------------
# Stage 2 Job 3
# ----------------------
    - job: Checkov
      dependsOn: tflint
      displayName: Checkov
      steps:
      - task: CmdLine@2
        displayName: Checkov
        continueOnError: true
        inputs:
          script: 'checkov -d . -o junitxml > checkov-out.xml || exit 0'
          workingDirectory: '$(config_path)'
      - task: PublishTestResults@2
        displayName: Checkov_Publish
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: 'checkov-out.xml'
          searchFolder: '$(config_path)'
          testRunTitle: 'Checkov'

# ----------------------
# Stage 3: Deploy
# ----------------------
- stage: Deploy
  displayName: Deploy Stage (Manual Validation and Apply)
  dependsOn: Scanning_and_Costing
  condition: eq('${{ parameters.Deploy }}', true)
  jobs:
# ----------------------
# Stage 3 Job 1
# ----------------------
    - job: manual_validation
      displayName: Manual Validation
      pool: server
      steps:
        - task: ManualValidation@1
          inputs:
            notifyUsers: 'erashe25@gmail.com'
            instructions: 'Check and approve'
# ----------------------
# Stage 3 Job 2
# ----------------------
    - job: terraform_apply
      displayName: Terraform Apply
      dependsOn: manual_validation
      condition: succeeded('manual_validation')
      steps:
        - task: TerraformInstaller@1
          displayName: Install Terraform
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: Terraform Init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(config_path)'
            backendServiceArm: 'Dec_Pipeline_2025'
            backendAzureRmOverrideSubscriptionID: '$(OverrideSubscriptionID)'
            backendAzureRmResourceGroupName: 'DoNotDeleteRg'
            backendAzureRmStorageAccountName: 'donotdeletestorage555555'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'rkstest.tfstate'
        - task: TerraformTask@5
          displayName: Terraform Apply
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(config_path)'
            environmentServiceNameAzureRM: 'Dec_Pipeline_2025'
            environmentAzureRmOverrideSubscriptionID: '$(OverrideSubscriptionID)'
