trigger: none

pool:
  name: SelfAgent_RK

parameters:
  - name: Build
    displayName: Build (Run Init,Validate,Plan) ?
    type: string
    values:
      - true
      - false

  # - name: Deploy
  #   displayName: Deploy(Manual validation + Apply) ?
  #   type: string
  #   values:
  #     - true
  #     - false

variables:
  config_path: '$(System.DefaultWorkingDirectory)/infra/dev'
  OverrideSubscriptionID: 'ff1980ab-1170-4014-971d-df65aabf1e5b'

stages:
# ----------------------
# Stage 1: Build
# ----------------------
- stage: Build
  displayName: Build Stage (Init + Plan)
  condition: eq('${{ parameters.Build }}', true)
  jobs:
# Stage 1 Job 1
    - job: terraform_init_fmt_validate
      displayName: Terraform Init + Fmt + Validate
      steps:
        - task: TerraformInstaller@1
          displayName: Install Terraform
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(config_path)'
            backendServiceArm: 'Dec_Pipeline_2025'
            backendAzureRmOverrideSubscriptionID: '$(OverrideSubscriptionID)'
            backendAzureRmResourceGroupName: 'DoNotDeleteRg'
            backendAzureRmStorageAccountName: 'donotdeletestorage5'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'rkstest.tfstate'
        - task: TerraformTask@5
          displayName: Terraform Format
          inputs:
            provider: 'azurerm'
            command: 'custom'
            workingDirectory: '$(config_path)'
            commandOptions: 'fmt'
            outputTo: 'console'
            environmentServiceNameAzureRM: 'Dec_Pipeline_2025'
            environmentAzureRmOverrideSubscriptionID: '$(OverrideSubscriptionID)'
